/* #efe6d5  #101820ff */

/* .header {} */

.search-container {
  margin: 0 auto 3rem auto;
  max-width: 900px;
  height: 5rem;

  display: flex;
  align-items: center;
}

.form {
  width: 100%;
  /* width: 90%; */
  margin: 0 5%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.form input {
  height: 2.5rem;
  width: 85%;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 0 5px;
}

.form button {
  align-self: center;
  border: 1px solid #101820ff;
  border-radius: 3px;

  font-size: 1rem;
  min-width: 6rem;
  min-height: 2.5rem;
  background-color: #101820ff;
  color: white;
}

.form button:hover,
.form button:active {
  color: #101820ff;
  background-color: white;
  border: #101820ff 1px solid;
  cursor: pointer;
}
