/* #efe6d5; #101820ff */
body {
  position: relative;
}

.modal {
  position: absolute;
  border-radius: 3px;
  background-color: #efe6d5;
  min-width: 600px;
  min-height: 500px;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 80%);
}
