/* #efe6d5 #101820ff*/

.container {
  min-width: 378px;
}

.head-container {
  background-color: #efe6d5;
  height: 2rem;
  display: flex;
  align-items: center;
}

.head-container__control {
  /* margin: 0 3% 0 2%; */
  margin: 0 1% 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.head-container__control p {
  font-weight: 500;
  cursor: text;
}

.head-container__control input {
  font-family: inherit;
  font-weight: 500;
  height: 1.5rem;
}

.head-container__controls {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: baseline;
}

.head-container__controls button {
  border: none;
  background: none;
  font-weight: 800;
  cursor: pointer;
  border: solid 1px #efe6d5;
  padding: 0 4px;
}

.head-container__controls button.plus {
  font-size: 1.1rem;
  transform: translate(-50%);
}

.main-container {
  border-bottom: 2px solid #efe6d5;
  border-left: 2px solid #efe6d5;
  border-right: 2px solid #efe6d5;
  /* background-color: aqua; */
  padding: 5px 0;
  min-height: 100px;
}

.main-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 2%;
}

.main-container li {
  /* background-color: brown; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-props {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link-props a {
  font-size: 14px;
  text-decoration: none;
  color: #101820ff;
  border-bottom: 1px solid #fff;

  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
}

.link-props a:hover {
  border-bottom: 1px solid #101820ff;
}

.link-props img {
  height: 18px;
}

.main-container button {
  background: none;
  border: none;
  justify-self: end;
}

.main-container button:hover {
  cursor: pointer;
}
