.form {
  margin: auto;
  background: #efe6d5;
  border: 1px solid black;
  max-width: 600px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 10%);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 3rem 0;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
}

.input label {
  font-size: 1.2rem;
  color: #101820ff;
  font-weight: 500;
}

.input input {
  width: 85%;
  height: 2rem;
  font-size: 1.1rem;
  color: #101820ff;
  font-family: inherit;
}

.input textarea {
  width: 85%;
  font-family: inherit;
  font-size: 1.2rem;
  color: #101820ff;
}

.start {
  align-self: flex-start;
}

.button {
  margin-bottom: 1.5rem;
  align-self: center;
  border: 1px solid #101820ff;
  border-radius: 3px;

  font-size: 1.2rem;
  min-width: 8rem;
  min-height: 2.8rem;
  background-color: #101820ff;
  color: white;
}

.button:hover,
.button:active {
  color: #101820ff;
  background-color: white;
  border: #101820ff 1px solid;
  cursor: pointer;
}

.invalid {
  color: red;
  font-size: 1.1rem;
  margin: 0.3rem 0 0 0;
}
